/* .login-section {
    background-image: url("https://res.cloudinary.com/doqxwwvpo/image/upload/v1718592495/subscribe-gaa88431a4_1920_ukzecl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}  */

/* /* .qrcode img {
    display: none;
} */